@font-face {
    font-family: "Arcade_I";
    src: url("../fonts/arcade/ARCADE_I.TTF");
}

@font-face {
    font-family: "Arcade_N";
    src: url("../fonts/arcade/ARCADE_N.TTF");
}

@font-face {
    font-family: "Arcade_R";
    src: url("../fonts/arcade/ARCADE_R.TTF");
}

#pongCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -50;
    /*background-color: black;*/
    background-color: #010400;
}

.game-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*text-align: center;*/
    display: inline-block;
    min-width: 300px;
    width: 20%;
    background-color: rgba(248, 248, 255, 1);
    padding: 15px;
    border-radius: 5px;
}

#gameMenuOffset {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%);
    min-width: 300px;
    width: 20%;
    color: ghostwhite;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#gameMenuOffset:hover {
    background-color: rgba(255, 255, 255, .25);
}

#gameMenuCollapse {
    position: absolute;
    top: 1%;
    right: 1%;
}

.play-button {
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom right, #007bff, #4F43FF);
}

.play-button:hover {
    background-image: linear-gradient(to bottom right, #0a85ff, #594dff);
}